@model ProjekatPPP.Models.IznajmljeneFilm

@{
    ViewBag.Title = "Brisanje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Da li ste sigurni da želite da obrišete ovu rezervaciju?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reziser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reziser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-danger" /> |
            @Html.ActionLink("Vrati se na rezervacije", "Index")
        </div>
    }
</div>
